# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Sqala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn
5. TensorFlow

|   | Data Science Tools |
| ------ | -------- |
| development | Jupyter |
| staging | GitHib |
| production | ONNX |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

c = 200 / 60
print (c, "hours" )

3.3333333333333335 hours

## Author
Dmitri Belkov